// start .headerBlock
.headerBlock {
	--sTPB: #{rem(15)};
	--sPB: #{rem(10)};

	@include media-breakpoint-up(md) {
		--sPT: #{rem(90)};
	}
	margin-bottom: 1px;
	min-height: calc(100vh - #{rem(262)});
	// min-height: calc(var(--vh, 1vh) * 100);
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;

	&__main {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	h1 {
		margin-bottom: 1px;
		text-transform: uppercase;
	}

	h2 {
		margin-bottom: 1px;
	}

	&__location {
		display: flex;
		align-items: center;
		margin-bottom: rem(15);

		.icon {
			margin-right: rem(5);
			font-size: rem(15);
		}
	}

	.section-title {
		max-width: rem(650);
	}

	p {
		max-width: rem(360);
	}

	&__btnWrap {
		padding-top: rem(20);
	}

	&__addres {
		margin-top: auto;
		max-width: rem(190);
		padding-top: rem(10);
	}

	h5 {
		font-weight: 800;
		text-transform: uppercase;
		margin-bottom: rem(18);
	}

	.signUp {
		width: rem(253);
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.headerBlock

.signUp {
	background-color: #fff;
	color: #000 !important;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-size: rem(18);

	&__text {
		text-transform: uppercase;
		padding: rem(10) rem(30);
		font-weight: 800;
		background: linear-gradient(#000 100%, hsla(0, 0%, 100%, 0)),
			linear-gradient(rgba(197, 0, 255, 0.4), rgba(197, 0, 255, 0.4));
		background-size: 100% 100%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@include h {
		.signUp__text {
			background: linear-gradient(#000 30.43%, hsla(0, 0%, 100%, 0)),
				linear-gradient(rgba(197, 0, 255, 0.4), rgba(197, 0, 255, 0.4));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.icon {
			color: #b4b4b4;
		}
	}

	&__calendar {
		margin-left: auto;
		height: 100%;
		padding: rem(14) rem(15) rem(13) rem(19);
		background: #e5e5e5;
	}

	.icon {
		font-size: rem(20);
		@include mt(0.1s);
	}
}
